// Variables

// Restated Bootstrap Variables
$white: #fff;
$tertiary: #546E7A;
$black: #000;

$secondary: #6A27AB;
$primary: #CD4090;
$primary_v2: #A53373;
$primary_v3: #A53373;   





//global
$border-radius-default: 10px;

//padding sections
$padding-default: 4rem 0;